section{
    width: 90%;
    margin: auto;
}

h5{
    background-color: rgb(194, 48, 48);
    text-indent: 0.5em;
    padding: 0.5em;
    font-size: large;
    font-family: 'Bitter', serif;
    font-weight: bolder;
    color: #f2f2f2;
    border-radius: 1.5px;
}

.imgCarousel{
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 1px 15px 25px 5px #000;
}
