<p-menubar [model]="item" [baseZIndex]="999999" [autoDisplay]="false" styleClass="menu">
    <ng-template pTemplate="start">
        <i class="pi pi-fw pi-building"></i>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex gap-3 mr-4 flex-wrap" id="session">
            <span class="cursor-pointer font-semibold uppercase" routerLink="/login" routerLinkActive="router-link-active" 
            pTooltip="Iniciar sesión" tooltipPosition="bottom">
            <i class="pi pi-fw pi-user text-sm"></i> Iniciar sesion</span> 
            |
            <span class="cursor-pointer font-semibold uppercase" routerLink="/logoup"
            pTooltip="Crear cuenta" tooltipPosition="bottom">
            <i class="pi pi-fw pi-user-plus text-sm"></i> Registrarse</span>
        </div>
    </ng-template>
</p-menubar>
